@model IEnumerable<TurnosMedicos.Models.Especialidad>

@{
    ViewData["Title"] = "Inicio Especialidad";
}

<h1>Especialidades</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-dark">Agregar Especialidad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.EspecialidadId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.EspecialidadId">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.EspecialidadId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
