@model IEnumerable<TurnosMedicos.Models.Turno>

@{
    ViewData["Title"] = "Inicio Turnos";
}

<h1>Inicio Turnos</h1>

<div class="form-group">
    <label class="control-label">Filtrar por:</label>          
    @using (Html.BeginForm("Index", "Turnos", FormMethod.Post))
    {
        @Html.DropDownList("especialidades", ViewBag.EspecialidadId as IEnumerable<SelectListItem>, new { @class = "form-control" })
        <button type="submit" class="btn btn-primary">Buscar</button>
    }
</div><br/>
@if (User.IsInRole("Administrador") || User.IsInRole("Supervisor"))
{
    <div>
        <a asp-action="Create" class="btn btn-outline-dark">Agregar Turno</a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico.Especialidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nombre)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Medico.Especialidad.Nombre)
            </td>
            @if (User.IsInRole("Administrador") || User.IsInRole("Supervisor")){
                <td>                    
                    <a asp-action="Edit" asp-route-id="@item.TurnoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.TurnoId">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.TurnoId">Eliminar</a>            
                    @if(item.UsuarioId != null){
                            <span class="badge bg-secondary">RESERVADO</span>
                    }
                </td>
            }
            @if (User.IsInRole("Paciente")){
                <td>
                    @if (item.UsuarioId == null)
                    {
                        <a class="btn btn-primary" asp-action="Reservar" asp-route-id="@item.TurnoId">Reservar</a>
                    }else{
                        <button type="button" class="btn btn-secondary" disabled>Reservar</button>
                    }

                </td>
            }            
        </tr>
}
    </tbody>
</table>

