@model IEnumerable<TurnosMedicos.Models.Turno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="form-group">
    <label class="control-label"></label>
    <select class="form-control" asp-items="ViewBag.MedicoId"></select>
    <a asp-action="Index" class="btn btn-primary">Buscar</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nombre)
            </td>
                @if (User.IsInRole("Administrador")){
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TurnoId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TurnoId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TurnoId">Delete</a>
                    </td>
                }
            <td>                
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
            </td>
        </tr>
}
    </tbody>
</table>
