@model IEnumerable<TurnosMedicos.Models.Turno>

@{
    ViewData["Title"] = "Turnos Por Medico";
}

<h1>TurnosPorMedicos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurnoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TurnoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TurnoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
